/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

div.content {
    display: flex;
}

div.left,
div.right {
    flex: .5;
}

div.links {
    padding-left: 1rem;
    padding-top: 1rem;
}

div.center {
    flex: 1 0 10rem;
}

h2.kanji-header,
h2.place-header {
    margin: 1rem;
}

div.kanji-entries {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.kanji {
    flex: 1 1 15rem;
    margin: 1rem;
}

div.place-entries {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.place {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

div.place-entries > h3,
div.place-entries > p {
    width: auto;
}

rt {
    padding: .75em 0em;
}