/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

html {
  font-size: 20px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /*
Source - https://stackoverflow.com/a/14573813
Posted by akky, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-23, License - CC BY-SA 3.0
*/

  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", system-ui;

}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

#root {
  background-color: #f1f1f1;
}

div.content {
    display: flex;
    justify-content: center;
}

div.left,
div.right {
    flex: .5;
}

div.links {
    padding-left: 1rem;
    padding-top: 1rem;
}

div.center {
    flex: 0 1 63rem;
}

h2.kanji-header,
h2.place-header {
    margin: 2rem;
}

div.kanji-entries {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.kanji,
.place {
    margin: 2rem;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

}

.kanji {
    flex: 0 1 17rem;
}

.kanji h3,
.place h3 {
  font-size: 2rem;
}

.kanji h4,
.place h4 {
  font-weight: 700;
}

.kanji span.line-head {
  font-weight: 700;
}

.kanji p {
  line-height: 1.75em;
}

div.place-entries {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.place {
    flex: 0 0 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    aspect-ratio: 1;
}

.place * {
  text-align: center;
}

div.place-entries > h3,
div.place-entries > p {
    width: auto;
}

rt {
    padding: .25em 0em;
    font-weight: 500;
    font-size: .625rem;
}

span.vocab {
  font-weight: 700;
}

.hidden {
  visibility: hidden;
}